<!DOCTYPE html>
<html>
    <head>
        <title>DATA SET</title>
        
    </head>
    <style>
        table, th, td {
          border:1px solid rgb(234, 10, 148);
        }
    </style>
    <body>
        <h1>Movie Collection Data</h1>

        <table style="width:100%">
            <thead>
                <tr>
                    <th>Release</th>
                    <th>Opening</th>
                    <th>Total_Gross</th>
                    <th>Pecent_Total</th>
                    <th>Theaters</th>
                    <th>Average</th>
                    <th>Date</th>
                    <th>Distributor</th>

                </tr>
            </thead>
            <tbody>
                {% for s in moviesdb%}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[5] }}</td>
                <td>{{ s[6] }}</td>
                <td>{{ s[7] }}</td>
            
            </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>

